* {
  margin: 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@font-face {
  font-family: "Header";
  src: url(fonts/MontserratBold-p781R.otf);
}

@font-face {
  font-family: "potpis";
  src: url(fonts/potpis.ttf);
}

body {
  font-family: 'Open Sans', sans-serif;
}

.pre-navbar {
  width: 100%;
  height: 40px;
  background-color: #E61D8C;
}

.main {
  width: 60%;
  margin-left: 20%;
}

.left {
  width: 50%;
  float: left;
  margin-top: 12px;
  color: white;
  font-size: 14px;
}

.right {
  width: 50%;
  float: left;
  color: white;
  font-size: 14px;
  margin-top: 9px;

}


/*-----SOCIAL------*/
.footer-social-links {
  font-size: 15px;
  text-align: right;
}

.footer-social-links a {
  width: 25px;
  height: 25px;
  line-height: 20px ;
  position: relative;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  color: WHITE;
}

.footer-social-links a i,
.footer-social-links a span {
  position: relative;
  top: 2px;
  left: 1px;
}

.footer-social-links a:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;


  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

}

.footer-social-links a:hover {
  color: #fff;
}

.footer-social-links a:hover:before {
  background: white;
  opacity: 0.32;
}

/*---NAVBAR---*/
.topnav {
  overflow: hidden;
  background-color: white;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 3px;

}

.nav {
  margin-left: 19.2%;
  margin-right: 19.2%;
}


.topnav a.active {
  color: black;
  margin-right: 35px;
  font-size: 20px;
  margin-top: 0px;
  float: left;
}

.topnav a.active:hover {
  background-color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  margin-top: 3px;
  font-size: 15px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 10px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 990px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/*HEAD IMAGE*/
.head {
  width: 100%;
}

.head img {
  width: 100%;
}

/*.text-block {
  font-family: "Header";
  width: 20%;
  height: 35%;
  position: absolute;
  bottom: 0%;
  left: 10%;
  color: #6B6BF2;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  font-size: 20px;
}
/*main container*/
.container-left {
  position: relative;
  float: left;
  width: 40%;
  margin-left: 15%;
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -140px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.container-right {
  width: 20%;
  float: left;
  margin-left: 15%;
  margin-top: 2%;
}

.content {
  margin: 0px;
}


.wrapper {
  height: 40vh;
  position: relative;

}

.fas.fa-envelope {
  color: #fff;
  font-size: 2rem;
  background: linear-gradient(90deg, #B9D1EB, #F876DE);
  ;
  padding: 1rem;
  border-radius: 100%;
  margin: 0 0 1rem 0;
}

.card-content {
  max-width: 30rem;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 4rem .5rem;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, .3);
  text-align: center;
}

.card-content h1 {
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

.card-content p {
  font-size: .8rem;
  margin: 0 0 2rem 0;
}

input {
  padding: .8rem 1rem;
  width: 40%;
  border-radius: 5rem;
  outline: none;
  border: .1rem solid #d1d1d1;
  font-size: .7rem;
}

::placeholder {
  color: #d1d1d1;
}

.subscribe-btn {
  padding: .8rem 2rem;
  border-radius: 5rem;
  background: linear-gradient(90deg, #E61D8C, #C7E9FB);
  color: #fff;
  font-size: .7rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.hr-lines {
  position: relative;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 50px;
  background: #E61D8C;
  display: block;
  position: absolute;
  top: 50%;
  left: 50px;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 50px;
  background: #E61D8C;
  display: block;
  position: absolute;
  top: 50%;
  right: 50PX;
}

.ko-smo-mi {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.container-left p {
  color: #333333;
}

.container-left img {
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.potpis {
  font-family: "potpis";
  font-size: 25px;
  margin-left: 5%;
}


.slider {
  width: 100%;
  border-radius: 20px;
  height: 500px;
  background-color: white;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, .3);
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #E61D8C, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.slider__inner {
  left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.slider__inner {
  left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.slider__inner {
  left: -200%;
}

.slider__nav:checked:nth-of-type(4)~.slider__inner {
  left: -300%;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__image {
  font-size: 2.7rem;
  color: #2196F3;
}


.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #E61D8C;
    box-shadow: 0 0 0 12px #E61D8C, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }

  100% {
    outline-color: #E61D8C;
    box-shadow: 0 0 0 0 #E61D8C, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #E61D8C;
    box-shadow: 0 0 0 12px #E61D8C, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }

  100% {
    outline-color: #E61D8C;
    box-shadow: 0 0 0 0 #E61D8C, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@media only screen and(max-width:990px) {
  .slider {
    margin-top: 10%;
    border: 1px solid #E61D8C;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, .0);
  }

  .slider__nav {

    box-shadow: 1px 1px 2rem rgba(0, 0, 0, .0);
  }
}

/*responsive*/
@media screen and (max-width: 990px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    transition-delay: 0.5s;
  }
}

@media screen and (max-width: 990px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    transition-delay: 0.5s;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    transition-delay: 0.5s;
  }
}

@media only screen and (max-width: 990px) {
  .main {
    width: 97%;
    margin-left: 10px;
  }

  .left {
    margin-top: 12px;
    font-size: 70%;
  }

  .email {
    display: none;
  }

  .nav {
    margin-left: 0px;
    margin-right: 0px;
  }

  .topnav a {
    padding: 14px 10px;
  }

  .head img {
    width: 130%;
    margin-left: -30%;
  }

  .container {
    width: 90%;
    margin-top: -50px;
    margin-left: 5%;
    margin-right: 5%;

  }

  .container-left {
    margin-top: 0px;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 0rem rgba(0, 0, 0, .0);
  }

  .container-left img {
    margin-left: 5%;
    width: 90%;
  }

  .container-right {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .card-content {
    border: 1px solid #E61D8C;
    box-shadow: 0px 0px 0rem rgba(0, 0, 0, .0);
  }
  .slider{
    margin-top: 10%;
    box-shadow: none;
    border: 1px solid #E61D8C;
  }
  .slider__image{
    margin-left: 0;
  }
}




.container-left1{
  width: 100%;
  float: left;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ),
  url(images/image3.jpg);
  background-size: 100%;
  color: white;
}
.container-left1 h5{
  margin-bottom: 2%;
}


#social-platforms {
  position:relative;
  margin-top: 2%;
  font-size:1rem;
  text-align:center;
  height:50px;
  overflow:hidden;
}

/*Pen code from this point on*/
.btn {
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn:focus > span {
  background:#9a9a9a
}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
  color:#3b5998
}

.btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btn-instagram:hover > i,.btn-twitter:focus > i {
  color:#E1306C
}

.btn-instagram > span {
  background:#E1306C
}

/*Google*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {
  color:#dd4b39
}

.btn-googleplus > span {
  background:#dd4b39
}

/*Pinterest*/
.btn-pinterest:hover > i,.btn-pinterest:focus > i {
  color:#cb2028
}

.btn-pinterest > span {
  background:#cb2028
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
  color:#007bb6
}

.btn-linkedin > span {
  background:#007bb6
}

/*
@keyframes slideInFromLeft {
	0% {
	  transform: translateX(-90%);
	}
	100% {
	  transform: translateX(0);
	}
  }
.image-1{
	margin-top: 15px;
	width: 200px;
	margin-left: 5%;
	position: relative;
	animation: 1.5s ease-out 0s 1 slideInFromLeft;
}*/
.PORUCI{
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.PORUCI:hover{
  background-position: 0% 30%;
}
.PORUCI:hover:after{
  right: -20px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.PORUCI:before, .PORUCI:after{
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.PORUCI:before{
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.PORUCI:after{
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.PORUCI {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #E899DC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B279A7), to(rgba(222, 135, 61, 0.24))), url("http://www.eatweartravel.com/wp-content/uploads/2015/04/i-love-shopping_1920x1200_83206.jpg");
  background-image: linear-gradient(to bottom, #E899DC, rgba(222, 135, 61, 0.24)), url("http://www.eatweartravel.com/wp-content/uploads/2015/04/i-love-shopping_1920x1200_83206.jpg");
}
.PORUCI:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #E899DC;
}
.PORUCI:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.PORUCI:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.PORUCI:after, .PORUCI:before {
  content: "ÔÅ∫";
}
.PORUCI b {
  color: #C81F70;
  font-weight: 700;
}
/*-*/
.columns{
  background-color: white;
  border-radius: 20px;
  transition: 200ms;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, .4);
}
.columns:hover{
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, .4);
}
.column1{
  width: 40%;
  height: 100%;
  float: left;
}
.column2{
  width:60%;
  height: 100%;
  float: left;
}
.products{
  width: 100%;
}
.levo{
  width:45%;
  height: 400px;
  border: 1px solid #C81F70;
  float: left;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: 3%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, .2);
}
.desno{
  width: 45%;
  height: 400px;
  float: left;
  margin-left: 3%;
  margin-top: 5%;
  margin-right: 3%;
  border-radius: 20px;
  border: 1px solid #C81F70;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, .2);
}
.up{
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url(images/sejk.jpg);
  background-position: center;
  background-size: 100%;
}
.down{
  width: 100%;
  height: 230px;
}
@keyframes move{
  from{
    padding: 120px;
    padding-bottom: 5px;
  }
  to{
    padding: 35px;
    padding-bottom: 5px;
  }
}
.proizvod{
  width: 80%;
  height: 300px;
  background-image:url(images/sejk.jpg);
  border-radius: 15px;
  background-position: center;
  margin-top: 2%;
  overflow: hidden;

}
.proizvod .clean9{
  background-image: url(images/clean9.jpg);
}
.proizvod-overlay{
  width: 100%;
  border-radius: 15px;
  height: 100%;
  background-color: rgba(64, 84, 94,0.5);
  font-family: 'Abril Fatface', serif;
  color: white;
  transition: background-color 0.9s ease;
  overflow: hidden;

}
.proizvod-overlay h1{
  padding: 120px;
  padding-bottom: 25px;
}
.proizvod-overlay p{
  color: white;
  width: 60%;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  position: relative;
  margin-bottom: 5px;
}
.proizvod-overlay:hover p{
  transition-delay: 0.3s;
  opacity: 1;
  
}
.proizvod-overlay button{
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.proizvod-overlay:hover button{
  transition-delay: 0.3s;
  opacity: 1;
}
.proizvod-overlay button{
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  transition: 200ms;
}
.dropdown{
  cursor: pointer;
}
.proizvod-overlay button:hover{
  background-color: #C81F70;
  transition-delay: 0s;
  color: white;
}
.proizvod-overlay h1:after {
  content: " ";
  display: block;
  width: 30%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #C81F70;
  transition: all 0.2s;
}
.proizvod-overlay:hover {
  background-color: rgba(64, 64, 70,0.8);
}
.proizvod-overlay:hover h1{
  padding: 35px;
  padding-bottom: 5px;
  animation-iteration-count: 1;

  animation: move 0.9s;
}
@media screen and (max-width: 990px){
  .proizvod-overlay h1{
    padding: 0;
    padding-top: 110px;
  }
  .proizvod-overlay:hover p{
    display: none;
  }
  
}